

name : javaScript-workflow-schedule
   
on:
  # schedule:
  # - cron: "0/5 * * * *"
  push: 
    branches: 
      - master 
      - "bug/*" # match bug/any  but not bug/any/any
      - "bug/**"  # match bug/any/any
    branches-ignore: 
      - dev
    paths-ignore: 
      - "docs/**"  # ignore any fils inside docs file
  repository_dispatch: 
    types: [build]
      
  pull_request:
    types: 
    - closed
    - opened
    - reopened
    - assigned
    
  

jobs:
  run-js-job:
    runs-on : ubuntu-latest
    steps:
     - name: checkout
       uses: actions/checkout@v3
     - name: list fils 
       run: |
         pwd
         ls -a

     - name: import js 
       id: greet
       uses: actions/hello-world-javascript-action@main 
       with:
        who-to-greet:  dbah
     - name: log greet
       run :  | 
         echo "${{ steps.greet.output.time}}"
         echo "Workspace: ${{ github.workspace }}"
         echo "Commit SHA: ${{ github.sha }}"
         echo "Repository: ${{ github.repository }}"