

name : javaScript-workflow

on: [push]

jobs:
  run-js-job:
    runs-on : ubuntu-latest
    steps:
     - name: import js 
       id: greet
       uses: actions/hello-world-javascript-action@main 
       with:
        who-to-greet:  dbah
     - name: log greet
       run : echo "${{ steps.greet.output.time}}"
 